@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-red: rgb(91, 18, 134);
  --some-color: #00d6c4;
  --root-font-size: 16px;
  --font-size: var(--root-font-size);
}

html {
  font-size: var(--font-size);
}

* {
  line-height: 1.8rem;
  box-sizing: border-box;
}

body {
  background: rgb(24, 26, 27);
  color: rgb(232, 230, 227);
  padding-left: var(--body-padding);
  padding-right: var(--body-padding);
  margin: 0 auto;
  max-width: 2560px;
}

p {
  font-size: 1rem;
  padding: 1rem;
  max-width: 80ch;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

h2 {
  font-size: 1.4rem;
  padding: 1.4rem 1rem;
}

/* Small devices (large phones, 577px and up) */
@media (min-width: 577px) {
  :root {
    --font-size: calc(var(--root-font-size) * 1.2);
  }
}

/* Medium devices (tablets, 769px and up) */
@media (min-width: 769px) {
  :root {
    --font-size: calc(var(--root-font-size) * 1.44);
  }
}

/* Large devices (desktops, 1025px and up) */
@media (min-width: 1025px) {
  :root {
    /* --font-size: calc(var(--root-font-size) * 1.728); */
  }
}

/* Extra large devices (large desktops, 1441px and up) */
@media (min-width: 1441px) {
  :root {
    --font-size: calc(var(--root-font-size) * 1.728);
  }
}

/* 4K devices (large desktops, 1441px and up) */
@media (min-width: 2561px) {
  :root {
    --font-size: calc(var(--root-font-size) * 2.074);
  }
}
