.accordionItem {
  overflow: hidden;
  border-bottom: 1px solid rgb(140, 130, 115);
  /* border-b-[1px] border-zinc-600 last:border-b-0 */
}

.accordionItem--active {
  border-bottom: 1px solid var(--some-color);
}

.accordionItem--active .accordionItem-heading {
  color: var(--some-color);
}

.accordionItem-heading {
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
  /* font-size: var(--font-size-l); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordionItem-body {
  transition: height 0.2s ease-out;
}

.accordionItem-bodyContent {
  padding: 1rem;
  padding-bottom: 2rem;
}
