.accordionItem-container {
  overflow: hidden;
  /* border-bottom: 1px solid rgb(140, 130, 115); */
}

.accordionItem-container--active .accordionItem-heading {
  color: rgb(217 119 6 / var(--tw-border-opacity));
}

.accordionItem-heading {
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
  font-size: var(--font-size-l);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordionItem-bodyContainer {
  transition: height 0.5s cubic-bezier(0.8, 0.25, 0.2, 0.7);
}

.accordionItem-bodyContent {
  padding: 1rem;
}
